.event-list {
	display: grid;
	margin: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 2rem;

	&__filters {
		display: flex;
		flex-direction: column;
		max-width: 20rem;
	}

	&__text-filter {
		margin: 0.5rem 0;
		padding: 0.5rem;
		border-radius: 0.5rem;
		border: none;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		outline: none;
	}

	&__checkbox-filter {
		margin: 0.5rem 0;
		color: white;
		font-size: 1.4rem;
		text-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	}
}