@import '../../variables';

.event-page {
	margin: 1.5rem 20vw;
	font-size: 1.7rem;

	* {
		color: white;
	}

	&__link {
		display: block;
		margin-top: 2rem;
		transition: color 0.2s ease-in-out;

		&:hover {
			color: $color-main-500;
		}
	}
}