@import '../../variables';

.event-card {
	background-color: white;
	border-radius: 1rem;
	padding: 1rem;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	height: max-content;

	&__title {
		display: inline-block;
		font: bold 1.8rem 'Merriweather', serif;
		transition: color 0.2s ease-in-out;

		&:hover {
			color: $color-main-500;
		}
	}

	&__price {
		font-size: 1.2rem;
		line-height: 1.8rem;
		color: $color-main-300;
		float: right;
	}

	&__description {
		font-size: 1.4rem;
		margin: 0.5rem 0;
	}

	&__action {
		cursor: pointer;
		font-size: 1.4rem;
		line-height: 2.4rem;
		font-weight: bold;
		color: $color-main-500;
	}

	&__category {
		display: inline-block;
		font-size: 1.2rem;
		padding: 0.5rem;
		margin-top: 1rem;
		margin-right: 0.5rem;
		color: $color-main-300;
		border: 1px solid $color-main-300;
		border-radius: 0.5rem;
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		&:hover {
			color: white;
			background-color: $color-main-300;
		}
	}
}