@import 'variables';

*,
*:after,
*:before {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $color-gray-100;
}

:root {
	font-size: 10px;
}

button {
	border: none;
	background: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
}

ul, ol {
	list-style: none;
}

body {
	background-color: $color-main-300;
}